* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    width: 350px;
    max-width: 100%;
    margin-bottom: 30px;
    position: relative;
    font-size: large;


}

.progress-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: grey;
    transform: translateY(-50%);
    z-index: -1;
}

.progress {
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: brown;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: aliceblue;
    color: grey;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    transition: 0.4s ease;
    font-weight: bold;
}

.circle.active {
    background-color: brown;
    color: white;
    border: 2px solid brown;
}

.btn {
    background-color: brown;
    color: white;
    border: none;
    padding: 8px 30px;
    border-radius: 4px;
    margin: 8px;
    font-size: 15px;
    cursor: pointer;
}

.btn:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

.btn:active {
    transform: scale(0.97);
}

.btn:focus {
    outline: 0;
}